@import url(http://fonts.googleapis.com/css?family=Rancho&effect=shadow-multiple|3d-float);
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans);
@import url(http://fonts.googleapis.com/css?family=Comfortaa);
@import url(http://fonts.googleapis.com/css?family=Monda);
@import url(http://fonts.googleapis.com/css?family=Ubuntu);
@import url(./fonts/KacstBook/stylesheet.css);

/* ==============================================
Basic
=============================================== */
body {
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
	background: url(../img/background.jpg) top no-repeat #94E3F4;
	background-position: 0px 0px;
	background-repeat: repeat-x;
	animation: animatedBackground 150s linear infinite;
	-ms-animation: animatedBackground 150s linear infinite;
	-moz-animation: animatedBackground 150s linear infinite;
	-webkit-animation: animatedBackground 150s linear infinite;
}
ol, ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
}
a, a:hover {
	text-decoration: none;
	cursor: pointer;
}
.h1, .h2, .h3, .h4 {
	color: #555555;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
}
.h1 {
	font-size: 50px;
	text-align: center;
	margin-bottom: 30px;
	font-family: 'Quicksand', sans-serif;
}
.h2 {
	color: #ffffff;
	font-size: 34px;
	text-align: center;
}
.h3 {
	color: #ffffff;
	padding-bottom: 5px;
}
.h4 {
	color: #FFFFFF;
	margin: 20px 0;
	padding-bottom: 5px;
	border-bottom: 1px solid #FDFDFD;
}
.lead {
	color: #555555;
	text-align: center;
}
.metro-hr {
	width: 100%;
	height: 1px;
	float: left;
	border: none;
	background: #e1e1e1;
	margin: 40px 0 40px 0;
	position: relative;
}
.metro-hr:before {
	width: 25%;
	height: 1px;
	content: '';
	left: 0;
	top: 0;
	display: block;
	position: absolute;
	background: #2A90FF;
}
.btn, .alert, .modal-content {
	border-radius: 0;
}
.navbar .container {
	max-width: 90%;
}
.section .container {
	max-width: 90%;
	padding-bottom: 70px;
}
#loading {
	top: 0;	
	width: 100%;
	height: 100%;
	position: fixed;
	background: rgba(255, 255, 255, 0.7) url(../img/ajax-loader1.gif) no-repeat center center;
	z-index: 1000;
}
.no-margin {
	margin: 0;
}
.no-padding {
	padding: 0;
}
.padding {
	padding: 0.5% !important;
}
.bg-aqua {
  background-color: #00C0EF !important;
}

/* ==============================================
Navbar
=============================================== */
.navbar {
	border: 0;
	bottom: -50px;
	background: #34495e;
	z-index: 9999999999999999999999999;
}
.navbar-header,
.navbar-brand {
	text-align: center !important;
	float: none !important;
	margin-top: 10px;	
}
.navbar-default .navbar-nav li a {
	color: #FFFFFF;
	font-size: 16px;
}
.navbar-default .navbar-brand {
	color: #FFFFFF;	
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-nav li a:hover {
	color: #66B6FF;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #34495e;
}
body.modal-open, .modal-open .navbar-fixed-top, .modal-open .navbar-fixed-bottom {
	margin-right: auto;
}
/* ==============================================
Tile
=============================================== */
.home .row {
	margin: 10px 5%;
}
.tile {	
	width: 100%;	
	position: relative;	
	float: left;
}
.tile:before {
	content: "";
	display: block;
	padding-top: 100%;
}
.tile-item {
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	z-index: 10;
}
.tile-item:hover {	
	color: #ffffff;
	-webkit-box-shadow: 0px 0px 4px 4px #858585;
	-moz-box-shadow: 0px 0px 4px 4px #858585;
	-o-box-shadow: 0px 0px 4px 4px #858585;
	box-shadow: 0px 0px 4px 4px #858585;
	-webkit-transform: scale(1.05);
		 -moz-transform: scale(1.05);
			-ms-transform: scale(1.05);
			 -o-transform: scale(1.05);
					transform: scale(1.05);	
	z-index: 999999999;	
}
.tile-item .img {
	display: block;
	padding: 1px;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-ms-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
.tile-item:hover .img {
	-webkit-transform: scale(0.8) rotate(354deg);
	-moz-transform: scale(0.8) rotate(354deg);
	-ms-transform: scale(0.8) rotate(354deg);
	-o-transform: scale(0.8) rotate(354deg);
	transform: scale(0.8) rotate(354deg);	
	z-index: -99999999999;	
}
.tile-nav {
	width: 100%;
	height: 100%;
	color: #ffffff;
	display: block;	
	text-align: center;
	position: relative;
	font-family: 'Open Sans', sans-serif;
}
.tile .ascensorLink {
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: block;
	position: absolute;
}
.tile .ascensorLink .h5 {
	margin: 5px;
	font-size: 16px;	
	font-family: 'Monda', sans-serif;
	font-weight: normal;
	display: block;
	color: #444;
  text-shadow: 
    1px 0px 1px #ccc, 0px 1px 1px #eee, 
    2px 1px 1px #ccc, 1px 2px 1px #eee,
    3px 2px 1px #ccc, 2px 3px 1px #eee,
    4px 3px 1px #ccc, 3px 4px 1px #eee,
    5px 4px 1px #ccc, 4px 5px 1px #eee,
    6px 5px 1px #ccc, 5px 6px 1px #eee,
    7px 6px 1px #ccc;
	position: absolute;	
	bottom: 0px;
	left: 0px;
	right: 0px;	
	text-transform: uppercase;
	overflow: hidden;
	z-index: 999999999999;	 
}
.tile:hover .ascensorLink .h5 {	
	font-weight: bold;
}
.brick {	
	padding: 0 15px;
	margin-top: 5px;
	text-align: center;
	border: 1px solid #D7D8D9;
	background: #f0f1f2;
	overflow: hidden;
	white-space: none;
	-moz-transition: background .3s ease-in-out;
	-webkit-transition: background .3s ease-in-out;
	-o-transition: background .3s ease-in-out;
	transition: background .3s ease-in-out;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}
.brick:hover {
	background: #f0f1f2 url(../img/brick.png) repeat-x top center;
	-webkit-box-shadow: -10px 10px 5px 0px rgba(128,128,128,0.67);
	-moz-box-shadow: -10px 10px 5px 0px rgba(128,128,128,0.67);
	box-shadow: -10px 10px 5px 0px rgba(128,128,128,0.67);
	-webkit-transform: translate3d(6px, -6px, 0);
	-moz-transform: translate3d(6px, -6px, 0);
	-ms-transform: translate3d(6px, -6px, 0);
	-o-transform: translate3d(6px, -6px, 0);
	transform: translate3d(6px, -6px, 0);
	-webkit-transform: scale(1.05);
		 -moz-transform: scale(1.05);
			-ms-transform: scale(1.05);
			 -o-transform: scale(1.05);
					transform: scale(1.05);		
}
.brick,
.brick .h3 {
	color: #000000;
	margin: 20px 0;
	padding-bottom: 5px;	
}
.brick .border {
	border-bottom: 1px solid #FDFDFD;
}
.judul {
	font-family: 'Rancho', sans-serif;
	font-size: 2.5em;
	padding: 15px;
}
.arab {	
	font-family: 'KacstBook';
	font-size: 2.7em;
	line-height: 2;
	color: #000000;
	margin-top: 0px;
}
.baca {
	font-family: 'Josefin Sans', sans-serif;
	margin-top: 0px;
}
.arti {
	font-family: 'Comfortaa', cursive;
	margin-top: 0px;
	color: #4D4D4D;
}
.line {
	line-height: 1.5;
}
#tright {
	float: right;
	position: absolute;
	top: 0.5%;
	right: 0.5%;	
}
#tright .btn i,
#bleft .btn i {
	color: #FFFFFF;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
#bleft {
	float: left;
	position: absolute;
	bottom: 0.5%;
	left: 0.5%;
	color: #FFFFFF;
}
#bleft .btn,
#tright .btn,
#bleft .btn:hover,
#tright .btn:hover {
	background: none repeat scroll 0% 0% transparent;
	outline: none;
	line-height: inherit;
}
.contact {
	/*position:relative;*/
	background: #858585;
	background: rgba(133, 133, 133, 0.3);
}
.contact .modal-dialog {
	max-width: 640px;
}
.contact .container {
	max-width: 860px;
}
.contact-holder {
	min-height: 100%;
	position: relative;
}
.contact-box {
	margin: 10px 0;
	padding: 20px 30px;
	position: relative;
	color: #ffffff !important;
	background-color: #15B7FF;
	background-color: rgba(21, 183, 255, 0.8);
	z-index: 10;
	font-family: 'Ubuntu', sans-serif;
}
.contact-box a {
	color: #FFFFFF;
}
.contact-box .h3 {
	color: #FFFFFF;
	font-size: 25px;
	text-align: center;
}
.contact-box .close {
	width: 50px;
	height: 45px;
	top: 0;
	right: 0;
	color: #FFFFFF;
	position: absolute;
	opacity: 1;
	filter: alpha(opacity=100);
}
.contact-box .btn {
	border: none;
	padding: 10px;
	font-size: 20px;	
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.contact-box .icon {
	text-align: center;
	font-size: 20em;
}
.contact-box .text {
	text-align: center;
	font-size: 5em;
}
.team-member {
	max-width: 100%;
	margin-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	background-color: #42D9FF;
	background-color: rgba(66, 217, 255, 0.7);
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
	z-index: 10;
}
.team-member:hover {
	/*box-shadow: -10px 10px 10px 2px #858585;
	-webkit-box-shadow: -10px 10px 10px 2px #858585;
	-moz-box-shadow: -10px 10px 10px 2px #858585;
	-o-box-shadow: -10px 10px 10px 2px #858585;*/
	box-shadow: -1px 0px 1px #6fadcb, 0px 1px 1px #54809d, -2px 1px 1px #6fadcb, -1px 2px 1px #54809d, -3px 2px 1px #6fadcb, -2px 3px 1px #54809d, -4px 3px 1px #6fadcb, -3px 4px 1px #54809d, -5px 4px 1px #6fadcb, -4px 5px 1px #54809d, -6px 5px 1px #6fadcb, -6px 7px 0 rgba(0,0,0,0.05), -5px 8px 0 rgba(0,0,0,0.05), -3px 9px 0 rgba(0,0,0,0.04), -2px 10px 0 rgba(0,0,0,0.04), -1px 11px 0 rgba(0,0,0,0.03), 0px 12px 0 rgba(0,0,0,0.03), 1px 13px 0 rgba(0,0,0,0.02), 2px 14px 0 rgba(0,0,0,0.02), 3px 15px 0 rgba(0,0,0,0.01), 4px 16px 0 rgba(0,0,0,0.01), 5px 17px 0 rgba(0,0,0,0.01), 6px 18px 0 rgba(0,0,0,0.01), inset 0 4px 5px -2px rgba(255,255,255,0.5), inset 0 1px 0 0 rgba(0,0,0,0.3);
	-webkit-transform: translate3d(6px, -6px, 0);
	-moz-transform: translate3d(6px, -6px, 0);
	-ms-transform: translate3d(6px, -6px, 0);
	-o-transform: translate3d(6px, -6px, 0);
	transform: translate3d(6px, -6px, 0);
	z-index: 100;
}
.team-member img {
	width: 100%;
	max-height: 283px;
}
.team-member .h3 {
	margin: 20px 0 10px 0;
}
.member-social {
	margin: 15px 0;
	text-align: center;
}
.member-social li {
	padding: 3px;
	display: inline-block;
}
.member-social li a {
	width: 40px;
	height: 40px;
	padding-top: 5px;
	display: inline-block;
	color: #FFFFFF;
	-webkit-box-shadow: 0 0 1px 100px rgba(255, 255, 255, 0.3) inset;
	-moz-box-shadow: 0 0 1px 100px rgba(255, 255, 255, 0.3) inset;
	box-shadow: 0 0 1px 100px rgba(255, 255, 255, 0.3) inset;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.member-social li a:hover {
	opacity: 1;
	color: #ffffff;
	-webkit-box-shadow: 0 0 1px 0px rgba(255, 255, 255, 0.6) inset;
	-moz-box-shadow: 0 0 1px 0px rgba(255, 255, 255, 0.6) inset;
	box-shadow: 0 0 1px 0px rgba(255, 255, 255, 0.6) inset;
}
.footer {
	text-align: center;
	font-size: smaller;
}
@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}
@-webkit-keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}
@-ms-keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}
@-moz-keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}
